pipeline/PL_Excel_To_Bronze.json
{
	"name": "PL_Excel_To_Bronze",
	"properties": {
		"activities": [
			{
				"name": "Get_Excel_File_List",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_adls_excel_folder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach_Excel_Files",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Excel_File_List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Excel_File_List').output.childItems",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy to Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"enableStaging": false
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-12-30T22:25:38Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}